<div class="side-nav">
   
   <div class="row">
      <div class="close-btn">
         <div class="logo">logo</div>
         <div class="close" onclick="disactive()" >
            <div class="line1"></div>
            <div class="line2"></div>
         </div>
      </div>
   </div>


   <div class="row">
      <div class="side-nav_links">
         <ul>
            <li>music</li>
            <li>artists</li>
            <li>about</li>
            <li>news</li>
            <li>events</li>
            <li>programming</li>
            <li>gold</li>
            <li>partners</li>
         </ul>
      </div>

      <div class="side-nav_soc">
         <ul>
            <li> <i class="fa-brands fa-instagram"></i></li>
            <li><i class="fa-brands fa-tiktok"></i></li>
            <li><i class="fa-brands fa-twitter"></i></li>
            <li><i class="fa-brands fa-twitch"></i></li>
            <li><i class="fa-brands fa-facebook-f"></i></li>
            <li><i class="fa-brands fa-discord"></i></li>
         </ul>
      </div>
   </div>


   <div class="row">
      <div class="sgin">
         <button class="btn1">sgin in</button>
            
         <button class="btn2">sgin up</button>
      </div>
   </div>
</div>