
<section id="home">
   <div class="background-img">
      <img src="../../assets/pexels-pixabay-159376.jpg" class="photo" alt="">
   </div>

   <div class="back-filter">

   </div>

   <div class="container">
      <div class="row">

         <div class="col-md-12  content" >
            <div class="row" style="margin-top: 210px;">
               <div class="col-md-6 mat" >

                  <div class="row">
                     <div class="col-md-2 center">
                        <div class="text"> 
                           <p>Instinct — Released May 22, 2020</p>
                        </div>
                     </div>
                        <div class="col-md-10 ">
                           <div class="img">
                              <img src="../../assets/pexels-miguel-á-padriñán-167092.jpg" alt="">
                             
                              <div class="bg"></div>
                           </div>

                        </div>
                        
                  </div>
               </div>
               <div class="col-md-6" >
                  <div class="main-text mt-5">
                     <div class="title">
                        <h1>LEVEL DAYS <br> <span>CONRO</span></h1>
                     </div>
                     <div class="btns mt-2 " >
                        <button class="btns_1">
                           listen now</button>
                        <button class="btns_2">Share</button>
                     </div>
                  </div>
               </div>
            </div>
            
         </div>

         <div class="nav">
            
            <div class="logo">logo</div>
            <div class="menu" onclick="active()">
               <div class="line1"></div>
               <div class="line2"></div>
               <div class="line3"></div>
            </div>
         </div>

         <div class="links">
            <div class="link"><i class="fa-brands fa-instagram"></i></div>
            <div class="link"><i class="fa-brands fa-tiktok"></i></div>
            <div class="link"><i class="fa-brands fa-twitter"></i></div>
            <div class="link"><i class="fa-brands fa-twitch"></i></div>
            <div class="link"><i class="fa-brands fa-facebook-f"></i></div>
            <div class="link"><i class="fa-brands fa-discord"></i></div>
            
         </div>
      </div>


         <app-side-nav></app-side-nav>
   </div>

</section>


<app-music></app-music>


