#music{
  
   margin-top: 50px;
   padding: 20px;

   .containerr{
      border: 1px solid #fff;
      height: 100%;
      width: 100%;
   background: #0b1320; 
     position: relative;
      flex-wrap: wrap;
      overflow: hidden;

      .hi{
         height: 100% !important;
      }

      .menu-side{
         background: #111727;
         width: 100%;
         box-shadow: 5px 0 2px #090f1f;
         color:white;

         h1{
            font-size: 20px;
            padding: 15px 0 0 20px;
            font-weight: 500;
         }
         .play_list{
            margin: 30px 0 0 20px;

            .active{
               color: #36e2ec;

               span{
                  display: none;
               }

               .fa-solid{
                  display: flex;
                  margin-right: 20px;
               }
            }

            h4{
               font-size: 14px;
               font-weight: 400;
               padding-bottom: 10px;
               color: #4c5262;
               transition: .3s linear;
               cursor: pointer;
               display: flex;
               align-items: center;
               width: 53%;

               span{
                  position: relative;
                  margin-right: 35px;
                  &::before{
                     content: '';
                     position: absolute;
                     width: 8px;
                     height: 8px;
                     border: 2px solid #4c5262;
                     border-radius: 50%;
                     top: -4px;
                     transition: .3s linear;
                  }
               }

               &:hover{
                  color: #fff;
               }

               &:hover span::before{
                  border: 2px solid #fff;
                  
                  
               }

               .fa-solid{
                  display: none;
               }
            }
         }

         .menu_song{
            width: 100%;
            height: 300px;
            
            .songItem{
               list-style-type: none;
               padding: 5px 0 0 20px;
               display: flex;
               align-items: center;
               position: relative;
               margin-bottom: 10px;
               transition: .3s linear;
               cursor: pointer;

               &:hover{
                  background: rgb(105, 105, 170,.1);
               }

               span{
                  font-size: 12px;
                  font-weight: 600;
                  color: #4c5262;
               }

               img{
                  width: 32px;
                  height: 32px;
                  margin-left: 25px;
               }

               h5{
                  font-size: 13px;
                  margin-left: 15px;
                  font-weight: 500;
                  letter-spacing: 2px;
                  .subtitle{
                     font-size: 11px;
                     color: #4c5262;
                     letter-spacing: 1px;
                  }

                  .fa-solid{
                     position: absolute;
                     right: 15px;
                     top: 8px;
                     font-size: 16px;
                     background: red;
                  }
               }
            }
         }
      }

      .song_side{
         background: #0b1320;
         width: 100%;
         box-shadow: 5px 0 2px #090f1f;
         color: white;

      

         nav{
            width: 90%;
            height: 10%;
            margin: auto;
            // border: 1px solid #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul{
               display: flex;

               li{
                  position: relative;
                  list-style-type: none;
                  font-size: 13px;
                  color: #4c5262;
                  margin-right: 25px;
                  cursor: pointer;
                  transition: .3s linear;

                  span{
                     position: absolute;
                     width: 100%;
                     height: 2.5px;
                     background: #36e2ec;
                     bottom: -5px;
                     left: 0;
                     border-radius: 20px;
                  }

                  &:hover{
                     color: #fff;
                  }
               }
            }

            .search{
               position: relative;
               width: 40%;
               padding: 1px 10px;
               border-radius: 20px;
               color: gray;
               background: rgb(184, 184, 184,.1);

               &::before{
                  content: '';
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  background: rgb(184, 184, 184,.1);
                  backdrop-filter: blur(5px);
                  z-index: -1;
               }

               .fa-brands{
                  font-size: 20px;
                  padding: 3px 0px 0 10px;
               }

               input{
                  background: none;
                  outline: none;
                  border: none;
                  padding: 0 10px;
                  color: #fff;
                  font-size: 12px;

               }
            }

            .user{
               position: relative;
               width: 30px;
               height: 30px;
               border-radius: 50%;
               cursor: pointer;

               img{
                  position: absolute;
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  box-shadow: 2px 2px 8px #131312 ;
               }
            }
         }


         .content{
            width: 90%;
            height: 30%;
            margin: auto;
            // border:  1px solid #fff;
            padding-top: 20px;

            h1{
               font-size: 25px;
               font-weight: 600;

            }

            p{
               font-size: 11px;
               font-weight: 400;
               color: #4c5262;
               margin: 5px;
            }

            .buttons{
               margin-top: 15px;

               button{
                  padding: 10px 30px;
                  outline: none;
                  border: white solid 1px;
                  background: none;
                  color: white;
                  text-transform: uppercase;
                  margin-left: 33px;
                  position: relative;
                  transition: .3s;
                  z-index: 2;
                  

                  &::before{
                     content: '';
                     position: absolute;
                     width: 100%;
                     height: 0;
                     bottom: 0;
                     left: 0;
                     z-index: -1;
                     background: white;
                     transition: .3s ease-in-out;
                  }
         
                  &:hover::before{
                     height: 100%;
                  }
         
                  &:hover{
                     color: black;
                  }
               }
            }
         }


         .popular_song{
            width: 90%;
            height: auto;
            margin: auto;
            margin-top: 15px;

            .h4{
               display: flex;
               align-items: center;
               justify-content: space-between;
  
               .fa-solid{
                  cursor: pointer;
                  color: #4c5262;
                  transition: .3s linear;

                  &:hover{
                     color: #fff;
                  }
               }
            }

            .pop_song{
               width: 100%;
               height: 150px;
               margin-top: 15px;
               display: flex;
               overflow-x: auto;
               scroll-behavior: smooth;

               &::-webkit-scrollbar{
                  display: none;
               }

               li{
                  min-width: 100px;
                  height: 140px;
                  list-style-type: none;
                  margin-right: 10px;
                  transition: .3s linear;

                  h5{
                     padding: 5px 0 0 5px;
                     line-height: 15px;
                     font-size: 10px;

                     .subtitle{
                        font-size: 9px;
                        color: #4c5262;
                     }
                  }

                  .img_play{
                     position: relative;
                     width: 100px;
                     height: 100px;
                     display: flex;
                     align-items: center;
                     justify-content: center;

                     &:hover .fa-solid{
                           opacity: 1;
                     }

                     img{
                        height: 100%;
                        width: 100%;
                     }

                     .fa-solid{
                        position: absolute;
                        font-size: 20px;
                        cursor: pointer;
                        transition: .3s linear;
                        opacity: 0;

                        
                     }
                  }

                  &:hover{
                     background: rgb(105, 105, 170,.1);
                  }
               }
            }
         }


         .popular_artists{
            width: 90%;
            height: auto;
            margin: auto;
            margin-top: 15px;
         
            .h4{
               display: flex;
               align-items: center;
               justify-content: space-between;
  
               .fa-solid{
                  cursor: pointer;
                  color: #4c5262;
                  transition: .3s linear;

                  &:hover{
                     color: #fff;
                  }
               }
            }

            .item{
               width: 100%;
               height: auto;
               margin-top: 10px;
               display: flex;
               overflow-x: auto;
               scroll-behavior: smooth;

               &::-webkit-scrollbar{
                  display: none;
               }

               li{
                  list-style-type: none;
                  position: relative;
                  min-width: 60px;
                  height: 60px;
                  background: #fff;
                  border-radius: 50%;
                  margin-right: 20px;
                  cursor: pointer;
                  

                  img{
                     width: 100%;
                     height: 100%;
                     border-radius: 50%;
                     position: absolute;
                  }

               }
            }
         }

      }

      .master_player{
         height: 55px;
         width: 100%;
         background: #111727;
         margin-top: 40px;
         display: flex;
         align-items: center;
         padding: 0 20px;

         img{
            width: 35px;
            height: 35px;
         }
         h5{
            width: 130px;
            font-size: 13px;
            margin-left: 15px;
            color: #fff;
            line-height: 15px;

            .subtitle{
               font-size: 11px;
               color: #4c5262;
            }
         }

         .icon{
            font-size: 20px;
            color: #fff;
            margin: 0 20px 0 40px;

            .fa-solid{
               cursor: pointer;
               outline: none;
               margin-left: 10px;
            }

            .fa-solid:nth-child(2){
               border: 1px solid rgb(105, 105, 170,.1);
               border-radius: 50%;
               padding: 1px 3px 0 6px;
               margin: 0 5px;
               transition: .3s linear;
            }
         }

         span{
            color: #fff;
            width: 32px;
            font-size: 11px;
            font-weight: 400;
            
         }
         #currentStart{
            margin: 0 0 0 20px;
         }

         .bar{
            position: relative;
            width: 43%;
            height: 2px;
            background: rgb(105, 105, 170,.1);
            margin: 0 15px 0 10px;

            .bar2{
               position: absolute;
               background: #36e2ec;
               width: 0%;
               height: 100%;
               top: 0;
            }

            .dot{
               position: absolute;
               width: 5px;
               height: 5px;
               background: #36e2ec;
               border-radius: 50%;
               left: 0;
               top: -1px;
               transition: 1s linear;

               &::before{
                  content: '';
                  position: absolute;
                  width: 15px;
                  height: 15px;
                  border: 1px solid #36e2ec;
                  border-radius: 50%;
                  left: -6px;
                  top: -6px;
                  box-shadow: inset 0 0 3px #36e2ec;
               }
            }

            input{
               position: absolute;
               width: 100%;
               top: -6px;
               left: 0;
               cursor: pointer;
               z-index: 9999999;
               transition: 3s linear;
               opacity: 0;
            }
         }

         .vol{
            position: relative;
            width: 100px;
            height: 2px;
            margin-left: 50px;
            background: rgb(105, 105, 170,.1);

            .fa-solid{
               position: absolute;
               color: #fff;
               top: -17px;
               font-size: 25px;
               left: -30px;
            }

            input{
               position: absolute;
               width: 100%;
               left: 0;
               top: -10px;
               cursor: pointer;
               z-index: 999999;
               transition: 3s linear;
               opacity: 0;
            }

            .vol_bar{
               position: absolute;
               background: #36e2ec;
               width: 10%;
               height: 100%;
               top: 0;
            }

            .dot{
               position: absolute;
               width: 5px;
               height: 5px;
               background: #36e2ec;
               border-radius: 50%;
               left: 0;
               top: -1px;
               transition: 1s linear;

               &::before{
                  content: '';
                  position: absolute;
                  width: 15px;height: 15px;
                  border: 1px solid #36e2ec;
                  border-radius: 50%;
                  left: -6px;
                  top: -6px;
                  box-shadow: inset 0 0 3px #36e2ec;
               }
            }
         }
         .active2{

            .wave1{
               animation: inset;
               animation: wave linear .5s infinite;

            }
            .wave1:nth-child(2){
               animation: wave linear .5s infinite;
 
               animation-delay: .4s;        
            }
            .wave1:nth-child(3){
               animation: wave linear .5s infinite;

               animation-delay: 0.8s;       
            }
         }

         .wave{
            width: 30px;
            height: 30px;
            padding-bottom: 5px;
              display: flex;
            align-items: flex-end;
            margin-right: 10px;
            .wave1{
               width: 3px;
               height: 10px;
               margin-right: 3px;
               border-radius: 10px 10px 0 0;
               background: #36e2ec;

            }

            .wave1:nth-child(2){
               height: 13px;       
               animation-delay: .4s;        
            }
            .wave1:nth-child(3){
               height: 8px;        
               animation-delay: 0.8s;       
            }
         }
      }
   }
}


@keyframes wave{
   0%{height: 10px;}
   50%{height: 15px;}
   100%{height: 10px;}
}